@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Identity";
}
<h1>@ViewData["Title"].</h1>

<h2>API response</h2>

<pre>@ViewBag.Json</pre>

